*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.outerDiv {
    width: 100vw;
    height: 100vh;
    background: rgb(61, 7, 43);
    display: grid;
    place-items: center;
    

}
.innerDiv{
    width:80vw;
    height: 70vh;
    display: grid;
    place-items: center;
 
   
}

.main-heading{
    padding: 20px;
    color: azure;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.5);
    font-size: 100px;
}